html{
    background-size: cover; /* 이 처리를 해놔야 화면에 꽉참! */
}
body{
    margin: 0; /* 이 처리를 해놔야 화면에 꽉참! */
}

.fix {
    height: 50px;
    background-color: purple;
    position: fixed;
    width: 100%;
}
.img{
    height: 200px;
    background-color: grey;
}
.global-nav {
    top: 50px;
    height: 250px;
    background-color: palegreen;
    transition: 0s ease-out;
}
.maincontents {
    height: 3000px;
    background-color: white;
}
.fixed-menu {
    position: fixed;
    top: 51px;
    width: 100%;
    height: 50px;
}
