.tab {
  margin-top: 40px;
}

.menu {
  border-bottom: 1px solid #e7e7e7;
  border-color: #5a5a5a;
  /* 추가 */
  overflow: hidden;
}

.tab .selected-korea {
  display: inline-block;
  width: 187px;
  padding: 12px 5px 11px;
  text-align: center;
  font-size: 11px;
  color: #ffffff;
  background: #5a5a5a;
}

.tab .selected-abroad {
  display: inline-block;
  width: 187px;
  padding: 12px 5px 11px;
  margin-left: -6px;
  text-align: center;
  font-size: 11px;
  color: #ffffff;
  background: #5a5a5a;
  color: #ffffff;
  background: #ffffff;
  color: #5a5a5a;
  border-right: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}

.basket-page {
  height: 375px;
  overflow: hidden; /*tab2를 hidden 처리하기 위해 추가*/
}

/* 장바구니가 비어있는 경우 */
.basket-empty {
  text-align: center;
  padding: 150px 0 150px;
  font-size: 11px;
  color: #757575;
  border-bottom: 1px solid #e7e7e7;
  /* display: none; */
}

.icon_basket_empty {
  display: flex;
  justify-content: center; /*flex에서 사용하는 중앙 정렬 속성*/
}

.basket-empty img {
  margin: auto;
  display: block;
  margin: 0 0 5px;
}
